/* переменные */

:root {
  --color-primary: #303030;
  --color-secondary: #555555;
  --color-muted: #9da4bd;
  --color-muted-trnsparent: rgba(157, 164, 189, 0.6);
  --color-opacity: rgba(157, 164, 189, 0.4);
  --color-accent: #ff6c00;
  --color-light: #ffffff;

  --background-dark: #191c26;
  --background-light: #f7f7f7;

  --font-family-text: "Open Sans", sans-serif;
  --font-family-title: "Raleway", sans-serif;

  --font-weight-normal: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

/* общие параметры для сайта */
body {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  background: var(--color-light);
}

/* списки */
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ссылка */
.link {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: inherit;
}

/* ссылка при ховере и фокусе, активная */
.link:hover,
.link:focus,
.linl:active,
.link.active {
  color: var(--color-accent);
}

/* предзаголовок */
.pre-title {
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.1em;
}

/* заголовок */
.title {
  margin: 0;
  font-family: var(--font-family-title);
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
}

/* подзаголовок */
.subtitle {
  font-size: 18px;
  line-height: 1.667;
}

/* текстовый блок */
.text {
  margin: 0;
  color: var(--color-secondary);
}

/* кнопка-ссылка */
.btn-link {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 25px;
  letter-spacing: 0.09;
  border: 1px solid var(--color-accent);
  color: var(--color-light);
  background: transparent;
}

/* кнопка-сылка при ховере, фокусе */
.btn-link:hover,
.btn-link:focus {
  cursor: pointer;
  color: var(--color-light);
  background: var(--color-accent);
}

/* рекурсивная кнопка */
.recursive-btn {
  color: var(--color-primary);
}

/* контейнер */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header-box {
  color: var(--color-light);
  background: var(--background-dark);
}

/* основной контейнер секции */
.header-box .container {
  display: flex;
}

/* навигация */
.nav-box {
  display: flex;
}

/* список ссылок навигации */
.nav-list {
  padding-top: 40px;
  display: flex;
}

/* ссылки навигации */
.nav-item {
  margin-left: 40px;
}

.nav-link {
  padding: 12px 0;
  display: inline-block;
  font-weight: var(--font-weight-semi-bold);
}

/* ссылки контактов */
.contacts-list {
  margin-left: 47px;
  padding-top: 40px;
}

/* ссылка с телефоном */
.tel-link {
  display: inline-block;
  margin-top: 20px;
}

/* price section */
.price.container {
  color: var(--color-light);
  background: var(--background-dark);
}

/* footer */

/* ссылка на карту */
.address-link {
  font-style: normal;
}
